<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">Banneriod</lang>
    </name>
    <author>
        <lang name="default">Web studio stfalcon.com</lang>
    </author>
    <homepage>http://stfalcon.com</homepage>
    <version>0.4.0</version>
    <requires>
        <livestreet>1.0</livestreet>
    </requires>
    <description>
        <lang name="default">Baner rotator for LS</lang>
        <lang name="russian">Плагин для удобного размещения и управлениями баннерами</lang>
        <lang name="ukrainian">Плагін для зручного розміщення і керування банерами</lang>
    </description>
</plugin>
